.cocktailDetails {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 10px;
  padding: 20px;
  background: #fff;
}

.recipeInfo {
  padding: 10px;
}
.image {
  padding: 10px;
  margin: 0 auto;
}

.image img {
  max-width: 100%;
}

@media (min-width: 720px) {
  .cocktailDetails {
    flex-direction: row;
  }
  .recipeInfo {
    align-self: flex-start;
    padding: 0 20px 0 0;
  }
  .image {
    align-self: flex-end;
    padding: 0 0 0 20px;
  }
}
